.counter-container {
    width: 120px;
    height: 120px;
    text-align: center;
    h3 {
        font-size: 80px;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: whitesmoke;
    }
}