.button-container {
    width: 120px;
    height: 120px;
    button {
        width: inherit;
        height: inherit;
        border: none;
        box-shadow: 0 0 10px #535151;
        border-radius: 50%;
        color: white;
        font-size: 100px;
        background: rgb(236,235,168);
        background: linear-gradient(45deg, rgba(236,235,168,1) 15%, rgba(241,139,162,1) 85%);
        cursor: pointer;
    }
}